/* body
{
background-color:tan;
} 
.box
{
background-color:#3d4543;
height:300px;
width:250px;
border-radius:10px;
position:relative;
top:80px;
left:40%;
} 
.display
{
background-color:#222;
width:220px;
position:relative;
left:15px;
top:20px;
height:40px;
}
.display input
{
position:relative;
left:2px;
top:2px;
height:35px;
color:black;
background-color:#bccd95;
font-size:21px;
text-align:right;
}  */
/* .keys
{
position:relative;
top:15px;
}
.button
{
width:40px;
height:30px;
border:none;
border-radius:8px;
margin-left:17px;
cursor:pointer;
border-top:2px solid transparent;
}
.button.gray
{
color:white;
background-color:#6f6f6f;
border-bottom:black 2px solid;
border-top:2px #6f6f6f solid;
}
.button.pink
{
color:black;
background-color:#ff4561;
border-bottom:black 2px solid;
}
.button.black
{
color:white;
background-color:303030;
border-bottom:black 2px solid;
border-top:2px 303030 solid;
}
.button.orange
{
color:black;
background-color:FF9933;
border-bottom:black 2px solid;
border-top:2px FF9933 solid;
}
.gray:active
{
border-top:black 2px solid;
border-bottom:2px #6f6f6f solid;
}
.pink:active
{
border-top:black 2px solid;
border-bottom:#ff4561 2px solid;
}
.black:active
{
border-top:black 2px solid;
border-bottom:#303030 2px solid;
}
.orange:active
{
border-top:black 2px solid;
border-bottom:FF9933 2px solid;
}
p
{
line-height:10px;
} */
#calc-contain{
    position: relative;
    width: 400px;
    border: 2px solid black;
    border-radius: 12px;
    margin: 0px auto;
    padding: 20px 20px 100px 20px;
    background-color: blueviolet;
  }
  #agh{
    position: relative;
    float: center;
    margin-top: 15px;
  }
  #agh p{
    font-size: 20px;
    font-weight: 900;
  }
  input[type=button] {
    background: lightskyblue;
    width: 20%;
    font-size: 20px;
    font-weight: 900;
    border-radius: 7px;
    margin-left: 13px;
    margin-top: 10px;
  }
  input[type=button]:active {
    background-color: #20a725;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  input[type=button]:hover {
    background-color: #003300;
    color: white;
  }
  
  input[type = text] {
    position: relative;
    display: block;
    width: 90%;
    margin: 5px auto;
    font-size: 20px;
    padding: 10px;
    box-shadow: 4px 0px 12px black inset;
  }